<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel='stylesheet' href='/styles.css'>
    <link rel='stylesheet' href='/product.css'>
    <link rel='stylesheet' href='../cart_page/styles.css'>
    <link rel='stylesheet' href='../navbar/styles.css'>
    <link rel='stylesheet' href='../footer/styles.css'>
    <script src="https://kit.fontawesome.com/804b50d2a5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="hero" class="cart-hero">
        <div id="cart-notification">Checked Out!</div>
        <div id="column-one">
            <p>You might also like this:</p>
            <div id="suggested-product"></div>
        </div>
        <div id="column-two">
            <div id="total-container">
                <p id="total">Your total is $</p>
                <button id="clear-cart">Check Out!</button>
            </div>
        </div>
    </header>
    <ul id="products-list"></ul>
    <footer id="footer"></footer>
    <script src="/models/fetch_produtcs.js"></script>
    <script src="/models/check_out.js"></script>
    <script src="/models/quantity_update.js"></script>
    <script src="/controller/navigate_to_details.js"></script>
    <script src="../navbar/nav_bar.js"></script>
    <script src="../cart_page/load_cart.js"></script>
    <script src="../footer/footer.js"></script>
</body>

</html>