<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wizard Shop</title>
    <link rel='stylesheet' href='/styles.css'>
    <link rel='stylesheet' href='/product.css'>
    <link rel='stylesheet' href='../details_page/styles.css'>
    <link rel='stylesheet' href='../navbar/styles.css'>
    <link rel='stylesheet' href='../footer/styles.css'>
    <script src="https://kit.fontawesome.com/804b50d2a5.js" crossorigin="anonymous"></script>
</head>

<body>
    <header id="hero">
        <div id="cart-notification">Added to the Cart!</div>
    </header>
    <section id="product-section">
        <h1>Details Page</h1>
        <p>No product has been selected.</p>
    </section>
    <footer id="footer"></footer>
    <script src="../../models/fetch_produtcs.js"></script>
    <script src="../../models/add_to_cart.js"></script>
    <script src="../navbar/nav_bar.js"></script>
    <script src="load_details.js"></script>
    <script src="../footer/footer.js"></script>
    <script src="details_color_picker.js"></script>
</body>

</html>